@charset "UTF-8";

* {
    font-family:'Times New Roman', Times, serif;
}
body{
    background-image: linear-gradient(to right, #DDD,#444);
}
main{
    background-color: white;
    width: 600px;
    padding: 2% 0;
    margin: 0 auto;
    
    h1{ 
        color: rgb(140, 76, 8);
    }
    h2{color: rgb(140, 76, 8);
    
    }
    p{text-align: justify;}
}
