@charset "UTF-8";

/* typical device breakpoint
-----------------------------
pequenas telas: ate 600px
celular: ate 768px
tablet: 768px ate 992px
desktop: 992 ate 1200px
*/
@media screen and (max-width: 600px) { /*celular */

    body {
        background-image:  url(../Imagens/back-phone.jpg);
    }

    img#phone {display: block;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#pc {display: none;}
    img#tv {display: none;}
}

@media screen and(min-width: 768px) and (max-width: 992px) {/* Impressão*/
    body{
        background-image: url(../Imagens/back-print.jpg);
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: block;}
    img#pc {display: none;}
    img#tv {display: none;}
    }

    @media screen and (min-width: 600px) and (max-width: 768px) { /* Tablet */
        body{
            background-image: url(../Imagens/back-tablet.jpg);
        }
        
        img#phone {display: none;}
        img#tablet {display: block;}
        img#print {display: none;}
        img#pc {display: none;}
        img#tv {display: none;}
    }

    @media screen and (min-width: 992px) and (max-width: 1200px) { /* Dekstop */
        body{
            background-image: url(../Imagens/back-pc.jpg);
        }
        
        img#phone {display: none;}
        img#tablet {display: none;}
        img#print {display: none;}
        img#pc {display: block;}
        img#tv {display: none;}
    }
    @media screen and (max-width: 1200px) { /* Grandes telas */
        body{
            background-image: url(../Imagens/back-tv.jpg);
        }
        
        img#phone {display: none;}
        img#tablet {display: none;}
        img#print {display: none;}
        img#pc {display: none;}
        img#tv {display: block;}
    }
    

    
